<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,1235},{107,108}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,47},{107,108}}</string>
                <key>sourceSize</key>
                <string>{189,200}</string>
            </dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,1107},{127,126}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,38},{127,126}}</string>
                <key>sourceSize</key>
                <string>{189,200}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1490},{185,182}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,13},{185,182}}</string>
                <key>sourceSize</key>
                <string>{189,200}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{185,184}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,11},{185,184}}</string>
                <key>sourceSize</key>
                <string>{189,200}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{185,184}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,11},{185,184}}</string>
                <key>sourceSize</key>
                <string>{189,200}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{185,184}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,11},{185,184}}</string>
                <key>sourceSize</key>
                <string>{189,200}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,560},{185,184}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,11},{185,184}}</string>
                <key>sourceSize</key>
                <string>{189,200}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,746},{185,184}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,11},{185,184}}</string>
                <key>sourceSize</key>
                <string>{189,200}</string>
            </dict>
            <key>16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,932},{185,184}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,11},{185,184}}</string>
                <key>sourceSize</key>
                <string>{189,200}</string>
            </dict>
            <key>17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1674},{179,184}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,11},{179,184}}</string>
                <key>sourceSize</key>
                <string>{189,200}</string>
            </dict>
            <key>18.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,1674},{173,182}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,13},{173,182}}</string>
                <key>sourceSize</key>
                <string>{189,200}</string>
            </dict>
            <key>19.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,330},{169,182}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,13},{169,182}}</string>
                <key>sourceSize</key>
                <string>{189,200}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,838},{145,144}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,29},{145,144}}</string>
                <key>sourceSize</key>
                <string>{189,200}</string>
            </dict>
            <key>20.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,183},{145,170}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,22},{145,170}}</string>
                <key>sourceSize</key>
                <string>{189,200}</string>
            </dict>
            <key>21.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,984},{121,144}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,33},{121,144}}</string>
                <key>sourceSize</key>
                <string>{189,200}</string>
            </dict>
            <key>22.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,1344},{73,106}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,58},{73,106}}</string>
                <key>sourceSize</key>
                <string>{189,200}</string>
            </dict>
            <key>23.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,330},{1,1}}</string>
                <key>offset</key>
                <string>{-94,99.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{189,200}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,682},{157,154}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,26},{157,154}}</string>
                <key>sourceSize</key>
                <string>{189,200}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,514},{167,166}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,20},{167,166}}</string>
                <key>sourceSize</key>
                <string>{189,200}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,2},{179,172}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,17},{179,172}}</string>
                <key>sourceSize</key>
                <string>{189,200}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1858},{179,178}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,14},{179,178}}</string>
                <key>sourceSize</key>
                <string>{189,200}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1858},{183,178}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,14},{183,178}}</string>
                <key>sourceSize</key>
                <string>{189,200}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1118},{185,184}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,11},{185,184}}</string>
                <key>sourceSize</key>
                <string>{189,200}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1304},{185,184}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,11},{185,184}}</string>
                <key>sourceSize</key>
                <string>{189,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>exp.png</string>
            <key>size</key>
            <string>{363,2043}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:deaa4c56dbc0b1b5c514ede221cfb2fc:cfea0b77efb8914c5afa06f552d26847:62425fbc77f978b7c325121783bcc236$</string>
            <key>textureFileName</key>
            <string>exp.png</string>
        </dict>
    </dict>
</plist>
